force-app/main/default/flows/Tenant_Quick_Search_and_Creation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>ifTenantExists</name>
        <label>ifTenantExists</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>YesFirstScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSameTenants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>secondScreen</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Tenant Quick Search and Creation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tenant Quick Search and Creation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Tenant</name>
        <label>Create New Tenant</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>lastMessage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AreaCode__c</field>
            <value>
                <elementReference>areaCodeInput2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Percentage__c</field>
            <value>
                <elementReference>discountInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>emailInput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>nameInput.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameInput.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>phoneIntput.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SSN__c</field>
            <value>
                <elementReference>SSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_site__c</field>
            <value>
                <elementReference>websiteInput.value</elementReference>
            </value>
        </inputAssignments>
        <object>Tenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getSameTenants</name>
        <label>getSameTenants</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ifTenantExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SSN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SSN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingTenant</name>
        <label>UpdateExistingTenant</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>yesThirdScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>yesFaultScreen</targetReference>
        </faultConnector>
        <inputReference>getSameTenants</inputReference>
    </recordUpdates>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>thirdScreen</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Please contact your system admin and show the following message:&lt;/p&gt;&lt;p&gt;Fault message {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you wan to try it again?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FirstScreen</name>
        <label>FirstScreen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getSameTenants</targetReference>
        </connector>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p&gt;Search Tenant with SSN&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SSN</name>
            <dataType>String</dataType>
            <fieldText>SSN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>lastMessage</name>
        <label>lastMessage</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thanksMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;{!nameInput.firstName} {!nameInput.lastName}  &lt;/u&gt;&lt;/strong&gt;is Created &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;successfully &lt;/span&gt;!&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>secondScreen</name>
        <label>secondScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>NO</backButtonLabel>
        <connector>
            <targetReference>thirdScreen</targetReference>
        </connector>
        <fields>
            <name>Message2</name>
            <fieldText>&lt;p&gt;Tenant does not exist with {!SSN}  SSN! Would you like to create a new one?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>thirdScreen</name>
        <label>thirdScreen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Tenant</targetReference>
        </connector>
        <fields>
            <name>nameInput</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>areaCodeInput2</name>
            <dataType>String</dataType>
            <fieldText>Area Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>emailInput</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>phoneIntput</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>additionalInfoInput</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Additional Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>YES</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>NO</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>websiteInput</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Website</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>additionalInfoInput.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>discountInput</name>
            <dataType>Number</dataType>
            <fieldText>Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>additionalInfoInput.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>yesFaultScreen</name>
        <label>yesFaultScreen</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>yesSecodScreen</targetReference>
        </connector>
        <fields>
            <name>yesFaultMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>YesFirstScreen</name>
        <label>YesFirstScreen</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>yesSecodScreen</targetReference>
        </connector>
        <fields>
            <name>YesTenant</name>
            <fieldText>&lt;p&gt;This Tenant already is in your system with {!SSN} SSN. Please find the details are below. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name:  {!getSameTenants.Name}&lt;/p&gt;&lt;p&gt;Last Name: {!getSameTenants.Last_Name__c}&lt;/p&gt;&lt;p&gt;Phone: {!getSameTenants.Phone__c}&lt;/p&gt;&lt;p&gt;Email: {!getSameTenants.Email__c}&lt;/p&gt;&lt;p&gt;Website: {!getSameTenants.Web_site__c}&lt;/p&gt;&lt;p&gt;Discount Percentage: {!getSameTenants.Discount_Percentage__c}&lt;/p&gt;&lt;p&gt;Area Code: {!getSameTenants.AreaCode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Would you like the update the above information?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>yesSecodScreen</name>
        <label>yesSecodScreen</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateExistingTenant</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getSameTenants.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getSameTenants.Last_Name__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getSameTenants.Email__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getSameTenants.Phone__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getSameTenants.AreaCode__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>yesThirdScreen</name>
        <label>yesThirdScreen</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfullyUpdateMessage</name>
            <fieldText>&lt;p&gt;Updates are successfully done for {!getSameTenants.Name} {!getSameTenants.Last_Name__c}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
