force-app/main/default/flows/Validation_Rule_Using_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>contains_11_digits_and_Starts_With</name>
        <label>contains 11 digits and Starts With +?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>phone_starts_with_and_11_digit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contains11DigitsAndstarsWith</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>phone_field_update</targetReference>
            </connector>
            <label>phone starts with + and 11 digit?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>contains11DigitsAndstarsWith</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN({!$Record.Phone}) = 11,      LEFT({!$Record.Phone}, 1) = &quot;+&quot; )</expression>
    </formulas>
    <interviewLabel>Validation Rule Using Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validation Rule Using Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>phone_field_update</name>
        <label>phone field update</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone_starts_with_and_11_digit</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>phone_filed_update</name>
        <label>phone filed update</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>contains_11_digits_and_Starts_With</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phone_starts_with_and_11_digit</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>phone_filed_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Phone number must be 11 digits and start with &apos;+</description>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Phone</elementReference>
        </value>
    </variables>
</Flow>
